<ion-header>

  <ion-navbar>
    <ion-title text-center> {{ 'LOGIN_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="splash-logo-container">
    <div class="splash-logo"></div>
  </div>
  <br/>
  <br/>
  <form>
    <ion-list padding>
      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required="required"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required="required"></ion-input>
      </ion-item>
      <ion-item>
        <button *ngIf="email && password" ion-button round color="primary" (click)="submitLogin()" padding block >Login</button>
        <!-- Show dead button if form is not filled -->
        <button *ngIf="!email && !password" ion-button color="primary" block round padding>Login Now</button>

      </ion-item>
    </ion-list>
  </form>

  <br/>

  <div padding text-center>
    <button ion-button round color="light" (click)="redirectToSignup()">

      Create new account
    </button>
  </div>
</ion-content>