<ion-header>

  <ion-navbar>
    <ion-title>My Job Cards</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <div *ngFor="let job of jobs">
      <ion-item *ngIf="(!job.provider || !job.provider.declineJob ) && !job.provider.completionTime" (click)="showActions(job)">

        <h2>{{job.service?.name}} - {{job.vehicleType?.name }} <span *ngIf="job.addedOptions">-</span>{{getSelectedOptions(job)}} </h2>

        <h2>{{job.location.address}}</h2>

        <!-- <button ion-button icon-left clear item-right (click)="openMap(job)">
          <ion-icon name="navigate"></ion-icon>
          View Map
        </button> -->
          <!-- <button ion-button icon-left clear item-right *ngIf="!job.provider || !job.provider.acceptJob" (click)="acceptJob(job)">
          <ion-icon style="color:green" name="checkmark"></ion-icon>
          Accept job
        </button> -->
          <!-- <button ion-button icon-left clear item-right (click)="declineJob(job)">
          <ion-icon style="color:red"  name="close"></ion-icon>
          Decline job
        </button> -->

        <p>
          <span *ngIf="!job.provider" style="color:red">None </span>
          <span *ngIf="job.provider">
            <span *ngIf="job.provider && job.provider.acceptJob"> <ion-icon style="color:green"  name="checkmark"> <span>HAS ACCEPTED</span></ion-icon></span>
            <span *ngIf="job.provider && job.provider.declineJob"> <ion-icon style="color:red"  name="close"> <span>HAS DECLINED</span></ion-icon></span>
            <span *ngIf="job && job.provider && !job.provider.acceptJob && !job.provider.declineJob"><ion-icon style="color:orange"  name="close"> <span> HAS NOT ACCEPTED</span></ion-icon></span>
          </span>
        </p>

        <p>
            <span *ngIf="job.provider && job.provider.arrivalTime"> <ion-icon style="color:green"  name="checkmark"> <span>HAS ARRIVED: {{job.provider.arrivalTime | date : 'HH:mm' }}</span></ion-icon></span>
        </p>

        <div >
          <ion-note>{{job.bookingDate | date}} ({{job.bookingTimeRangeStart}} - {{job.bookingTimeRangeEnd}})</ion-note>
          <!-- <p>
            <ion-icon style="color:green" *ngIf="job.provider && job.provider.acceptJob" name="checkmark"></ion-icon>
          </p> -->
        </div>

        <p>
          Job #: <strong> {{getTransactionNumber(job)}} </strong>
        </p>
        
        <p>
            <ion-note>{{job.requestDate | timeAgo }}</ion-note>
        </p>

      </ion-item>
    </div>
  </ion-list>
</ion-content>
