<ion-header>

  <ion-navbar>
    <ion-title>Create Schedule</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <div text-center>
        <button full outline padding ion-button color="primary" (click)="selectWeekFrequency()">
          <span *ngIf="!selectedCategory">Select Frequency</span>
          <span style="color:green" *ngIf="selectedCategory">Occurs every {{selectedCategory.name}}</span>
        </button>
      </div>
    </ion-item>

    <ion-item>
      <div text-center>
        <button full outline padding ion-button color="primary" (click)="selectDays()">
          <span *ngIf="!selectedService">Select day</span>
          <span style="color:green" *ngIf="selectedService">Service: {{selectedService.name}}</span>
        </button>
      </div>
    </ion-item>

    <ion-item>
      <div text-center>
        <button full outline padding ion-button color="primary" (click)="selectStartTime()">
          <span *ngIf="!bookingTimeRangeStart">Select availability (start time)</span>
          <span style="color:green" *ngIf="bookingTimeRangeStart">Date: {{bookingTimeRangeStart}} 00h</span>
        </button>
      </div>
    </ion-item>

    <ion-item>
      <div text-center>
        <button full outline padding ion-button color="primary" (click)="selectEndTime()">
          <span *ngIf="!bookingTimeRangeEnd">Select availability (end time</span>
          <span style="color:green" *ngIf="bookingTimeRangeEnd">Date: {{bookingTimeRangeEnd}}</span>
        </button>
      </div>
    </ion-item>

    <ion-item>
      <div text-center>
        <button padding ion-button color="primary" (click)="createSchedule()">Create</button>
      </div>
    </ion-item>
  </ion-card>
</ion-content>
