<ion-header>

  <ion-navbar>
    <ion-title>Request history</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content padding>



  <ion-list>
    <ion-item *ngFor="let request of serviceRequests" (click)="loadAction(request)">

      <h2>{{request.service?.name}}</h2>
      <p>
        <button ion-button icon-left clear item-right (click)="openMap(request,$event);">
          <ion-icon name="navigate"></ion-icon>
          View Map
        </button>
        <button ion-button icon-left clear item-right (click)="ackRequest(request)">
          <ion-icon name="ios-checkbox-outline"></ion-icon>

        </button>


        <div item-right>
          <p>
            <ion-note>{{request.requestDate | timeAgo }}</ion-note>
          </p>
          <ion-note>Booking: {{request.bookingDate | date}}</ion-note>
          <p *ngIf="request">
            <!-- <ion-icon style="color:green" *ngIf="request.provider && job.provider.acceptJob" name="checkmark"></ion-icon> -->
            <!-- <ion-icon style="color:orange" *ngIf="request && request.provider && !job.provider.acceptJob" name="checkmark"></ion-icon> -->
          </p>
        </div>
    </ion-item>
  </ion-list>

</ion-content>