page-request-history {

    ion-note {
        font-size: 12px;
        align-self: flex-start;
        margin-top: 14px;
    }

    ion-icon {
      margin: 4px 8px 4px 8px;
      font-size: 16px;
    }

    .service-request-card {
        margin-bottom: 16px;
        border: 1px solid #ddd;
        padding-top: 8px; 
        p {
            color: #141823;
            margin: 8px 0 8px 0;
        }
        color: #141823  ;
    }
}
