<ion-header>
  <ion-navbar>
    <ion-title>Request service</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-item>
      <div  text-center>
        <button full outline padding ion-button color="primary" (click)="selectServiceCategory()">
          <span *ngIf="!selectedCategory">Select type of service</span>
          <span style="color:green" *ngIf="selectedCategory">Service type: {{selectedCategory.name}}</span>
        </button>
      </div>
    </ion-item>

    <ion-item>
      <div  text-center>
        <button full outline padding ion-button color="primary" (click)="selectService()">
          <span *ngIf="!selectedService">Select type of car wash</span>
          <span style="color:green" *ngIf="selectedService">Car wash: {{selectedService.name}}</span>
        </button>
      </div>
    </ion-item>


    <ion-item>
        <div  text-center>
          <button full outline padding ion-button color="primary" (click)="selectVehicleType()">
            <span *ngIf="!selectedVehicleType">Select type of vehicle</span>
            <span style="color:green" *ngIf="selectedVehicleType">Car wash: {{selectedVehicleType.name}}</span>
          </button>
        </div>
      </ion-item>


    <ion-item>
      <div  text-center>
        <button full outline padding ion-button color="primary" (click)="selectBookingDate()">
          <span *ngIf="!bookingDate">Select booking date</span>
          <span style="color:green" *ngIf="bookingDate">Date: {{bookingDate}}</span>
        </button>
      </div>
    </ion-item>

    <ion-item>
      <div  text-center>
        <button full outline padding ion-button color="primary" (click)="selectStartTime()">
          <span *ngIf="!bookingTimeRangeStart">Select availability (start time)</span>
          <span style="color:green" *ngIf="bookingTimeRangeStart">Available from: {{bookingTimeRangeStart}}:00H</span>
        </button>
      </div>
    </ion-item>

    <ion-item>
      <div  text-center>
        <button full outline padding ion-button color="primary" (click)="selectEndTime()">
          <span *ngIf="!bookingTimeRangeEnd">Select availability (end time</span>
          <span style="color:green" *ngIf="bookingTimeRangeEnd">Availability until: {{bookingTimeRangeEnd}}:00H </span>
        </button>
      </div>
    </ion-item>
<!--
    <ion-item>

        <input style="width: 100%;" [ngModel]="serviceRequest.comment" type="text" placeholder="Comment"/>

        <ion-icon item-right name="ios-mic-outline"></ion-icon>
        <ion-icon item-right name="ios-camera-outline"></ion-icon>
    </ion-item> -->

    <ion-item>
      <div  text-center>
        <button [disabled]="!selectedService || !selectedCategory" padding ion-button color="gray" (click)="requestService()">Request service</button>
      </div>
    </ion-item>
  </ion-card>
</ion-content>

