<ion-header>

  <ion-navbar>
    <ion-title>Track Progress</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item *ngIf="(serviceRequests | async)?.length == 0">
      <h2>No pending requests</h2>
    </ion-item>

    <div *ngFor="let serviceRequest of serviceRequests | async">
      <ion-item>

        <h2>{{serviceRequest.service?.name}} <span *ngIf="serviceRequest.vehicleType">- </span> {{serviceRequest.vehicleType?.name }} <span *ngIf="serviceRequest.addedOptions">-</span> {{getSelectedOptions(serviceRequest)}}</h2>
          <p>
              Request Received:
              <ion-icon *ngIf="serviceRequest?.acknowledgedBy" style="color:green" name="ios-checkbox-outline"></ion-icon>
              <ion-icon *ngIf="!serviceRequest?.acknowledgedBy" style="color:red" name="ios-car-outline"></ion-icon>
          </p>

          <p>
            <ion-icon style="color:green" *ngIf="serviceRequest.provider && serviceRequest.provider.acceptserviceRequest" name="checkmark"></ion-icon>
            <span *ngIf="!serviceRequest.provider" style="color:red">Not yet assigned to a provider </span>
            <span *ngIf="serviceRequest.provider">Request assigned to {{serviceRequest.provider.firstName}} and has
              <span *ngIf="serviceRequest.provider && serviceRequest.provider.acceptJob">ACCEPTED <ion-icon style="color:green"  name="checkmark"></ion-icon></span>
              <span *ngIf="serviceRequest && serviceRequest.provider && !serviceRequest.provider.acceptJob">NOT ACCEPTED YET<ion-icon style="color:orange"  name="close"></ion-icon></span>
            </span>
          </p>

          <p>
            <span *ngIf="serviceRequest.provider && serviceRequest.provider.arrivalTime"> <span>HAS ARRIVED: {{serviceRequest.provider.arrivalTime | date : 'HH:mm' }}</span></span>
          </p>

          <p>
              <span *ngIf="serviceRequest.provider && serviceRequest.provider.completionTime"> <span>DONE: {{serviceRequest.provider.completionTime | date : 'HH:mm' }}</span></span>
          </p>

          <p *ngIf="serviceRequest.provider && serviceRequest.provider.completionTime">
            <rating [(ngModel)]="serviceRequest.serviceRating"
              (rateChange)="onRateChange(serviceRequest, $event)">
            </rating>
          </p>

          <div item-right>
            <ion-note>{{serviceRequest.bookingDate | date}} ({{serviceRequest.bookingTimeRangeStart}} - {{serviceRequest.bookingTimeRangeEnd}})</ion-note>
          </div>

      </ion-item>
    </div>
  </ion-list>


</ion-content>
