page-track-progress {
  rating {
    ion-icon {
      color: gray;

      &.filled {
        color: #ffb400;
      }
    }
  }

  
  .service-request-card {
      margin-bottom: 16px;
      border: 1px solid #ddd;
      padding-top: 8px; 
      p {
          color: #141823;
          margin: 8px 0 8px 0;
      }
      color: #141823  ;
  }
}
