<ion-menu [content]="content" >
  {{loading | json}}
  <ion-content *ngIf="!loading">

    <ion-list>
      <ion-item>
        <ion-icon margin style="color:red" menuClose name="close"></ion-icon>
      </ion-item>
      <div *ngFor="let p of pages">
      <button menuClose ion-item *ngIf="isPageAccessible(p)"  (click)="openPage(p)">

        <ion-icon class="menu-icon" name="{{p.icon}}"></ion-icon>
        {{p.title}}
      </button>
    </div>
    </ion-list>
    <ion-footer>
      <button color="primary" menuClose ion-item no-lines (click)="logUserOut()">
        <ion-icon name="ios-log-out-outline" start></ion-icon>
        Log out
      </button>
    </ion-footer>
  </ion-content>

</ion-menu>
<ion-nav #content [root]="rootPage"></ion-nav>
