<ion-menu [content]="content">
  <ion-content>

    <ion-list>
      <ion-item>
        <ion-icon margin style="color:red" menuClose name="close"></ion-icon>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="!loading">
      <div *ngFor="let p of pages">
        <button menuClose ion-item *ngIf="isPageAccessible(p)" (click)="openPage(p)">
          <ion-icon class="menu-icon" name="{{p.icon}}"></ion-icon>
          {{p.title}}
        </button>
      </div>

    </ion-list>

    <ion-list>

      <button menuClose ion-item *ngIf="!userLoggedIn" (click)="signUp()">
        <ion-icon class="menu-icon" name="log-in"></ion-icon>
        Sign up
      </button>

      <button menuClose ion-item *ngIf="!userLoggedIn" (click)="login()">
        <ion-icon class="menu-icon" name="log-in"></ion-icon>
        login
      </button>
    </ion-list>
    <ion-footer>
      <button color="primary" *ngIf="userLoggedIn" menuClose ion-item no-lines (click)="logUserOut()">
        <ion-icon name="ios-log-out-outline" start></ion-icon>
        Log out
      </button>
    </ion-footer>
  </ion-content>

</ion-menu>
<ion-nav #content [root]="rootPage"></ion-nav>
