<ion-header>

  <ion-navbar>
    <ion-title>GREEN AUTOCARE schedule</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngIf="schedule" text-center padding>
    <ion-card-title text-center padding>
      Occurs every
      <span *ngIf="schedule.weeklyFrequency && schedule.weeklyFrequency != 1"> {{schedule.weeklyFrequency}} </span> week
      <span *ngIf="schedule.weeklyFrequency && schedule.weeklyFrequency != 1">s</span> on {{schedule.day}}
    </ion-card-title>
    <span>
      Schedule end date: {{schedule.validUntil | date}}
    </span>
    <ion-item>
      <div text-center>
        <button round padding ion-button color="light" (click)="editSchedule()">
          <ion-icon name="ios-card-outline"></ion-icon> Edit</button>
        <button round padding ion-button color="light" (click)="pauseSchedule()">
          <ion-icon *ngIf="schedule.isPaused" name="ios-play-outline"></ion-icon>

          <ion-icon *ngIf="!schedule.isPaused" name="ios-pause-outline"></ion-icon>
          <span *ngIf="!schedule.isPaused">Pause</span>

          <span *ngIf="schedule.isPaused">Resume</span>
        </button>
        <!-- <button padding ion-button color="light" (click)="cancelSchedule()">
          <ion-icon name="ios-trash-outline"></ion-icon>Cancel</button> -->
      </div>
    </ion-item>

  </ion-card>

  <ion-card *ngIf="!schedule">
    <ion-card-title text-center padding>
      No schedule has been created
    </ion-card-title>

    <ion-item>
      <div text-center>
        <button padding ion-button color="light" (click)="createSchedule()">Create New Schedule</button>

      </div>
    </ion-item>
  </ion-card>


</ion-content>
