<ion-header>

  <ion-navbar>
    <ion-title>My car wash schedule</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngIf="schedule">
    Occurs every week on Sunday starting from 2/04/2018 until 30/06/2018

    <ion-item>
      <div text-center>
        <button padding ion-button color="light" (click)="editSchedule()">Edit</button>
      </div>
    </ion-item>

  </ion-card>

  <ion-card *ngIf="!schedule">
    No schedule has been created
    <ion-item>
      <div text-center>
        <button padding ion-button color="light" (click)="createSchedule()">Create</button>
      </div>
    </ion-item>
  </ion-card>

  <ion-item>
    <div text-center>
      <button padding ion-button color="primary" (click)="createSchedule()">Create New Schedule</button>
    </div>
  </ion-item>
</ion-content>
