<ion-header>

  <ion-navbar>
    <ion-title>Create user</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>

<ion-content>

  <form *ngIf="currentUser">
    <ion-list>

      <ion-item>
        <ion-label stacked>First name</ion-label>
        <ion-input type="text" [(ngModel)]="currentUser.firstName" name="firstName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Last name</ion-label>
        <ion-input type="text" [(ngModel)]="currentUser.lastName" name="lastName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input type="text" [(ngModel)]="currentUser.email" name="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>City</ion-label>
        <ion-input type="text" [(ngModel)]="currentUser.city" name="city"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>State/Province</ion-label>
        <ion-input type="text" [(ngModel)]="currentUser.state" name="state"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Phone</ion-label>
        <ion-input type="text" [(ngModel)]="currentUser.phone" name="phone" placeholder="eg. 080 222 8722" required="required"></ion-input>
      </ion-item>
      <ion-item *ngIf="currentUser.roles">
        <ion-label>Is Admin</ion-label>
        <ion-checkbox name="admin" [(ngModel)]="currentUser.roles.admin"></ion-checkbox>
      </ion-item>
      <ion-item *ngIf="currentUser.roles">
        <ion-label>Is User</ion-label>
        <ion-checkbox name="user" [(ngModel)]="currentUser.roles.user"></ion-checkbox>
      </ion-item>
      <ion-item *ngIf="currentUser.roles">
        <ion-label>Is Provider</ion-label>
        <ion-checkbox name="provider" [(ngModel)]="currentUser.roles.provider"></ion-checkbox>
      </ion-item>

      <ion-item *ngIf="currentUser.roles.provider && providerDetails" (click)="selectProviderLocation()">
        <ion-icon margin color="primary" name="ios-locate-outline"></ion-icon>
        <span style="color:red" *ngIf="!providerDetails.workingLocation">Select working location {{providerDetails.workingLocation}}</span>
        <span style="color:green" *ngIf="providerDetails.workingLocation && providerDetails.workingLocation.address">{{providerDetails.workingLocation.address}}</span>
        <ion-icon name="ios-arrow-down-outline" item-right></ion-icon>
      </ion-item>

      <div padding text-center>
        <button ion-button (click)="saveUser()">Save user </button>
      </div>

    </ion-list>
  </form>
</ion-content>
