<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content>
  <!-- <ion-card>
    <ion-card-header>
      Search
    </ion-card-header>
    <ion-searchbar (ionInput)="getServices($event)" placeholder="Search for services"></ion-searchbar>
  </ion-card> -->

  <ion-card>
<!--       
    <ion-card-header>
      Or Select
    </ion-card-header> -->
    <ion-item>
      <div  text-center>
        <button full outline padding ion-button color="primary" (click)="selectServiceCategory()">
          <span *ngIf="!selectedCategory">Select service category</span>
          <span style="color:green" *ngIf="selectedCategory">Service category: {{selectedCategory.name}}</span>
        </button>
      </div>
    </ion-item>

    <ion-item>
      <div  text-center>
        <button full outline padding ion-button color="primary" (click)="selectService()">
          <span *ngIf="!selectedService">Select service</span>
          <span style="color:green" *ngIf="selectedService">Service: {{selectedService.name}}</span>
        </button>
      </div>
    </ion-item>

    <ion-item>
      
        <input style="width: 100%;" [ngModel]="serviceRequest.comment" type="text" placeholder="Comment"/>
        
        <ion-icon item-right name="ios-mic-outline"></ion-icon>
        <ion-icon item-right name="ios-camera-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <div  text-center>
        <button [disabled]="!selectedService || !selectedCategory" padding ion-button color="gray" (click)="requestService()">Request service</button>
      </div>
    </ion-item>
  </ion-card>
</ion-content>

