<ion-header>

  <ion-navbar>
    <ion-title>Users</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let user of users">

      <h2>{{user.firstName}} {{user.lastName}}</h2>
      <p>

        <ion-icon name="phone-portrait"></ion-icon> {{user.phone}}
        <div item-right>
          <p *ngIf="user.roles?.admin">
            <ion-note>Is Admin</ion-note>
          </p>
          <p *ngIf="user.roles?.user">
            <ion-note>Is User</ion-note>
          </p>
          <p *ngIf="user.roles?.provider">
            <ion-note>Is Provider</ion-note>
          </p>
          <ion-note>
            <button type="button" ion-button icon-left clear item-right (click)="editUser(user.id)">
              <ion-icon name="md-create"></ion-icon>
              Edit
            </button>
          </ion-note>
        </div>

    </ion-item>
    <ion-item>
      <button type="button" ion-button icon-left (click)="createNew()">
        <ion-icon name="ios-create-outline"></ion-icon>
        Create new user
      </button>
    </ion-item>

  </ion-list>

</ion-content>
