page-signup {
  .splash-logo-container{
    padding-top:16px !important;
  }
  .splash-logo {
    margin: auto;
    background: url('../assets/img/appicon.svg') repeat transparent;
    background-size: 100%;
    width: 128px;
    height: 128px;
    border-radius: 20px;
  }
}
